
@import "variables"
@import "mixin"
@import "font-face"

*
  margin: 0
  padding: 0
  font-family: 'FuturaPT'
  font-size: 18px
  font-weight: 100
  line-height: 1.4em

a
  transition: all 0.3s ease-in-out

.container
  max-width: 1180px
  width: 80%
  margin: 0 auto

a.button
  display: inline-block
  text-decoration: none
  border-radius: 30px
  box-shadow: 0 20px 20px 0 rgba(18,29,132,.26)
  font-weight: 300

.button_white
  padding: 20px 30px
  background-color: $btn-white_bg
  color: $link-color
  &:hover
    color: $btn-white_bg
    background-color: $link-color
  &:active
    color: $btn-white_bg
    background-color: darken($link-color, 20%)

.button_aqua
  padding: 20px 80px
  background-color: $btn-aqua_bg
  color: $btn-aqua_color
  &:hover
    background-color: darken($btn-aqua_bg, 10%)
  &:active
    background-color: darken($btn-aqua_bg, 20%)

.logo
  padding-top: 10px
  img
    width: 150px
.svg
  position: absolute
  left: 0
  width: 100%
  height: 30px

.header
  position: relative
  // background-image: url(../blocks/header/bg.png)
  @include imgRetina("../blocks/header/bg", jpg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  margin-bottom: 100px
  .svg
    bottom: -1px
  .logo
    margin-bottom: 100px
  a.button
    margin-bottom: 250px
  &__text
    width: 60%
    color: white
    margin-bottom: 45px
    h1
      font-size: 2.5em
      font-weight: 800
      margin-bottom: 30px
  &__img
    img
      position: absolute
      bottom: 0
      left: 50%
      max-width: 620px
      width: 100%
      min-width: 250px

.title
  font-size: 2.8em
  font-weight: 800
  text-align: center
  margin-bottom: 75px

.about-product, .team
  margin-bottom: 80px
  &__items
    display: flex
  &__item
    display: flex
    flex-direction: column
    align-items: center
    flex-basis: 33%
    &:not(:last-child)
      margin-right: 50px
    &:nth-child(1)
      .about-product__info
        border-color: $lightblue
        h5
          color: $lightblue
        &::before
          @include triangle($lightblue)
    &:nth-child(2)
      .about-product__info
        border-color: $green
        h5
          color: $green
        &::before
          @include triangle($green)
    &:nth-child(3)
      .about-product__info
        border-color: $darkblue
        h5
          color: $darkblue
        &::before
          @include triangle($darkblue)
  &__img
    margin-bottom: 35px
    img
      width: 150px
  &__info
    position: relative
    border-radius: 5px
    border: 4px solid
    padding: 20px 35px
    text-align: center
    h5
      font-size: 1.3em
      font-weight: 300
      margin-bottom: 10px

.notify-block
  padding: 80px 0
  background-image: linear-gradient(to top right, #34e39b, #2c93c6, #39439d)
  margin-bottom: 100px
  .title
    color: $white
.notify-form
  text-align: center
  &__input
    display: block
    width: 100%
    max-width: 340px
    background: transparent
    color: white
    border: none
    border-bottom: 1px solid $aqua
    font-weight: 300
    text-align: center
    padding: 15px
    margin: 0 auto
    margin-bottom: 40px
    &::placeholder
      color: rgba(255,255,255,.6)
    &:focus
      outline: none

.team
  margin-bottom: 100px
  &__items
    justify-content: space-between
  &__img
    img
      width: 220px
      border-radius: 50%
  &__info
    padding: 0
    border: none

.button-block
  text-align: center
  position: relative
  // background-image: url(../blocks/footer/bg.png)
  @include imgRetina("../blocks/footer/bg")
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding-top: 150px
  padding-bottom: 20px
  .round-block
    position: absolute
    top: 30px
    width: 100%
    transform: scale(1, -1)
  *:not(.button)
    color: $white
  .button
    margin-bottom: 150px
.footer
  &__text
    display: flex
    justify-content: space-between
    p
